*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.menuhead {
    width: 100%;
    background-color: #ffffff;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 3px solid transparent;
    background-image: linear-gradient(to bottom, #bbdee03e 0%, #ffffff 100%);
}

.menuhead ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.menuhead ul li {
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}

.menuhead ul li:hover {
    color: #00a8b5;
}

.logo {
    width: 80px;
}

.icons img {
    width: 22px;
    margin-left: 18px;
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    overflow: hidden;
}

.hero::before {
    position: absolute;
    background: url("images/about.png") center/contain no-repeat;
    opacity: 0.1;
    z-index: -1;
}

.hero-content {
    max-width: 45%;
}


.hero-content h1 {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.hero-content h1 span {
    color: rgb(6, 153, 153);
}

