*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.menuhead {
    width: 100%;
    background-color: #ffffff;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 3px solid transparent;
    background-image: linear-gradient(to bottom, #bbdee03e 0%, #ffffff 100%);
}

.menuhead ul {
    display: flex;
    gap: 25px;
    list-style: none;
}